{% if nginx_page_caching_enabled == "true" %}
fastcgi_cache_path {{ wordpress_page_cache_path }} levels=1:2 keys_zone={{ wordpress_hostname }}:{{ wordpress_page_cache_size }} inactive=60m;
{% endif %}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {{ wordpress_hostname }};

    ssl_certificate /etc/letsencrypt/live/{{ wordpress_server_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ wordpress_server_hostname }}/privkey.pem;

    # access_log /var/log/nginx/{{ wordpress_hostname }}/access.log;
    # error_log /var/log/nginx/{{ wordpress_hostname }}/error.log;

    root {{ wordpress_install_path }};
    index index.php;

{% if nginx_page_caching_enabled == "true" %}

    set $skip_cache 0;

    # POST requests and urls with a query string should always go to PHP
    if ($request_method = POST) {
        set $skip_cache 1;
    }
    if ($query_string != "") {
        set $skip_cache 1;
    }

    # Don’t cache uris containing the following segments
    if ($request_uri ~* "/wp-admin/|/xmlrpc.php|wp-.*.php|/feed/|index.php|sitemap(_index)?.xml") {
        set $skip_cache 1;
    }

    # Don’t use the cache for logged in users or recent commenters
    if ($http_cookie ~* "comment_author|wordpress_[a-f0-9]+|wp-postpass|wordpress_no_cache|wordpress_logged_in") {
        set $skip_cache 1;
    }
{% endif %}

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/run/php/php7.4-fpm.sock;
        fastcgi_index index.php;
{% if nginx_page_caching_enabled == "true" %}
        fastcgi_cache_bypass $skip_cache;
        fastcgi_no_cache $skip_cache;
        fastcgi_cache {{ wordpress_hostname }};
        fastcgi_cache_valid {{ wordpress_nginx_page_cache_duration }};
{% endif %}
        include fastcgi_params;
    }
}

server {
    listen 80;
    listen [::]:80;

    server_name {{ wordpress_hostname }};

    return 301 https://{{ wordpress_hostname }}$request_uri;
}