user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
        worker_connections {{ nginx_worker_connections }};
        multi_accept {{ nginx_multi_accept }};
}

http {

        ##
        # Basic Settings
        ##

        sendfile on;
        tcp_nopush on;
        types_hash_max_size 2048;
        server_tokens {{ nginx_server_tokens }};
        client_max_body_size {{ nginx_client_max_body_size }};

        # server_names_hash_bucket_size 64;
        # server_name_in_redirect off;

        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        ##
        # SSL Settings
        ##

        ssl_protocols TLSv1.2 TLSv1.3; # Dropping SSLv3, ref: POODLE
        ssl_prefer_server_ciphers on;
        add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";

        ##
        # Logging Settings
        ##

        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;

        ##
        # Gzip Settings
        ##

        gzip {{ nginx_gzip_enabled }};
        # gzip_vary on;
        gzip_proxied {{ nginx_gzip_proxied }};
        gzip_comp_level {{ nginx_gzip_compression_level }};
        # gzip_buffers 16 8k;
        # gzip_http_version 1.1;
        gzip_types {{ nginx_gzip_types }};

{% if nginx_page_caching_enabled == "true" %}
        ##
        # Cache Settings
        ##

        fastcgi_cache_key "$scheme$request_method$host$request_uri";
        add_header Fastcgi-Cache $upstream_cache_status;
{% endif %}

        ##
        # Virtual Host Configs
        ##

        include /etc/nginx/conf.d/*.conf;
        include /etc/nginx/sites-enabled/*;
}


